* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  background-color: #694d36;
}

.center {
  display: flex;
  justify-content: center;
}

.main {
  background-color: #eee;
  width: 800px;
  padding: 30px;
}

.header {
  text-align: center;
}

h1,
h2 {
  font-family: Georgia, serif;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #48341f;
  text-align: center;
  letter-spacing: 4px;
}

.bx {
  padding: 20px;
  border-bottom: 1px dashed #48341f;
}

img {
  border-radius: 10px;
}

ul,
ol {
  margin-left: 20px;
}

li {
  margin: 10px;
}

.footer {
  margin-top: 20px;
  text-align: right;
}
